* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2d86af;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.8rem;
  font-size: 0.65rem;
  letter-spacing: 0.1rem;
  height: auto;
}

.title {
  display: block;
}

.lista-enlaces {
  list-style: none;
}

.enlace-proyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #212121;
}

.logo-github {
  height: 3rem;
  width: 3rem;
}

.input-contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d2d2d2;
}

.input-contenedor input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid #d2d2d2;
  border-radius: 2rem;
  background-color: transparent;
  outline: none;
}

.input-contenedor label {
  position: absolute;
  left: 1.4rem;
  transition: all 0.16s ease;
}

.input-contenedor button {
  position: absolute;
  right: 0.6rem;
  border-radius: 100%; 
  font-size: 1.2rem;
  width: 2rem;
  border: 0.1rem solid white;
  color: white;
  font-weight: bold;
  background-color: transparent;
}

.input-contenedor input:focus + .placeholder-input,
.input-contenedor input:valid + .placeholder-input {
  background-color: #2d86af;
  padding: 0 0.6rem;
  font-size: 0.8rem;
  transform: translate(0.2rem, -1.4rem);
}

.tareas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tarea {
  list-style: none;
  width: 100%;
}

.contenedor-tarea {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d2d2d2;
}

.texto-tarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid #d2d2d2;
  border-radius: 2rem;
  background-color: transparent;
}

.delete-tarea {
  position: absolute;
  right: 0.6rem;
  border-radius: 100%; 
  transform: rotate(45deg);
  font-size: 1.2rem;
  width: 2rem;
  border: 0.1rem solid white;
  color: white;
  font-weight: bold;
  background-color: transparent;
}